#container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  max-width: 900px;
  margin: 30px auto;
}

section{
  min-width: 300px;
  background-color: #ea8e4c;
  border: 4px double;
  border-radius: 8px;
  padding: 10px;
}

section ul{
    list-style: none;
}