<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakery Website</title>
    <link rel="stylesheet" href="../../CSS/main.css">
    <!-- Placeholder -->
    {{CSS_LINK}}
</head>
<body>
<div id="flex-container">
    <header>
        <h1 id="title">{{HEADER_H1}}</h1>
        <p>{{HEADER_P}}</p>
    </header>
    <nav>
        <ul>
            <li><a id="home-link" href="/">Home</a></li>
            <li><a id="menu-link" href="/menu">Menu</a></li>
            <li><a id="history-link" href="/history">History</a></li>
            <li><a id="location-link" href="/location">Location</a></li>
            <li><a id="contact-link" href="/contact">Contact</a></li>
        </ul>
        <img src="../Images/logo.png" alt="logo" id="logo">
    </nav>
    <main>